<mat-list role="list">
    @for (item of todoList; track $index) {
    <mat-list-item role="listitem">
        <span [class]="item.isDone ? 'done' : 'undone'">{{item.name}}</span>
        <button mat-icon-button matListItemMeta (click)="toggleTodoState(item)">
            <mat-icon>{{item.isDone ? 'undo' :'check'}}</mat-icon>
        </button>
        <button mat-icon-button matListItemMeta (click)="openModal(item)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matListItemMeta (click)="deleteTodo(item)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>
    }
</mat-list>