<app-header></app-header>
<div class="container">
  <form class="todo-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tâche à effectuer</mat-label>
      <input [formControl]="fc" matInput placeholder="Ex. Faire les courses">
    </mat-form-field>
  </form>
  <div class="flex-end">
    <button mat-stroked-button (click)="addItemInList()">Valider</button>
  </div>
  <app-todo-list [todoList]="todos" (onDeleteTodo)="removeItemFromList($event)"></app-todo-list>
</div>