.container {
  width: 80vw;
  padding-top: 24px;
  margin: auto;

  .todo-form {
    width: 100%;
    .full-width {
      width: 100%;
    }
  }

  .flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
